/*fonts*/
body {
  font-family: 'Lato', sans-serif;
}

.status, .profile-nav, .profile-details p {
  font-family: 'Open Sans', sans-serif;
}

.secondary-nav, .banner, .profile-details, footer {
  margin: 0 100px;
}

/*container colors*/
.secondary-nav-container {
  background-color: #aaa;
}

.banner-container {
  background-color: #eee;
}

.footer-container {
  background-color: #2399a6;
}


.primary-nav, .secondary-nav li, .title {
  text-transform: uppercase;
}


/*header*/
header {
  display: flex;
  justify-content: space-between;
  margin: 8px 25px;
}

.company-logo {
  height: 40%;
}

.top-nav {
  color: #969696;
}

/*nav {
  text-decoration: none;
}*/






.secondary-nav {
  color: #fff;
}

.search, .contact-me {
  background-color: #237377;
}


footer {
  color: #fff;
}
