/*fonts*/
body, .search, .contact-me {
  font-family: 'Lato', sans-serif;
}

.status, .profile-nav, .profile-details p, .search-input {
  font-family: 'Open Sans', sans-serif;
}

.secondary-nav, .banner, .profile-details, footer {
  margin: 0 100px;
}

/*container colors*/

.banner-container {
  background-color: #eee;
}

.footer-container {
  background-color: #2399a6;
}


.primary-nav, .secondary-nav li, .title {
  text-transform: uppercase;
}

ul {
  list-style: none;
}


/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.company-logo {
  height: 88%;
  margin-top: 8px;
}

.top-nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.top-nav-ul, .primary-nav {
  display: flex;
  justify-content: space-between;
}

.top-nav-ul {
  width: 110px;
}

.top-nav-btn {
  text-align: center;
  /*fill: #237377;*/
}

.top-nav-btn p {
  margin: 0;
  font-size: 12px;
  color: #969696;
}

.primary-nav {
  margin: 5px 0 10px 0;
}

.primary-nav li {
  margin-left: 25px;
  font-size: 16px;
  font-weight: bold;
}


/*SECONDARY NAV*/
.secondary-nav-container {
  background-color: #aaa;
  height: 60px;
}

.secondary-nav {
  display: flex;
  padding-top: 11px;
  color: #fff;
}

.search-input {
  height: 35px;
  width: 340px;
  font-size: 14px;
  padding: 0 0 2px 15px;
}

.search {
  height: 37px;
  width: 150px;
  margin: 0 25px;
}

.search-input, .search, .contact-me {
  outline: none;
  border: none;
}

.search, .contact-me {
  background-color: #237377;
  border-radius: 2.5px;
  color: #fff;
  letter-spacing: .05em;
}

.secondary-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  margin: 0;
}

.secondary-nav li {
  font-size: 16px;
  text-decoration: underline;
}

/*BANNER CONTAINER*/
.banner {
  display: flex;
  justify-content: space-between;
  height: 360px
}

.photo {
  width: 265px;
}

.basic-info {
  width: 25%;
  margin-top: 50px;
}

.name {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 38px;
  margin: 18px 0;
}

.status {
  color: #aaa;
  font-weight: 400;
  font-size: 14px;
}

.contact-me {
  height: 37px;
  width: 230px;
  margin-top: 10px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 230px;
  margin-top: 26px;
}

.contact-details {
  width: 30%;
  margin-top: 55px;
}

.contact-details li {
  margin-bottom: 18px;
  font-weight: bold;
}

.phone-icon {
  width: 24px;
}

.phone-no {
  /*margin-left: 9%;*/
  margin-left: 15px;
}

.contact-details a {
  /*margin-left: 5%;*/
  margin-left: 15px;
  color: #2399a6;
}


footer {
  color: #fff;
}
