/*fonts*/
body, .search, .contact-me {
  font-family: 'Lato', sans-serif;
  letter-spacing: .04em;
}

.status, .profile-nav, .profile-details p, .search-input {
  font-family: 'Open Sans', sans-serif;
}

/*margins*/
.secondary-nav, .banner, .profile-details, footer {
  margin: 0 100px;
}

/*container colors*/
.banner-container {
  background-color: #eee;
}

.footer-container {
  background-color: #2399a6;
}

.primary-nav, .secondary-nav li, .title {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.company-logo {
  height: 82px;
  margin-top: 8px;
}

.small-logo {
  display: none;
}

.top-nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.top-nav-ul, .primary-nav {
  display: flex;
  justify-content: space-between;
}

.top-nav-ul {
  width: 110px;
}

.top-nav-btn {
  text-align: center;
}

.top-nav-btn p {
  margin: 0;
  font-size: 12px;
  color: #969696;
}

.primary-nav {
  margin: 5px 0 10px 0;
}

.primary-nav li {
  margin-left: 25px;
  font-size: 16px;
  font-weight: bold;
}

/*SECONDARY NAV*/
.secondary-nav-container {
  background-color: #aaa;
  height: 60px;
  box-shadow: 0 5px 10px #aaa;
  opacity: 0.99;
}

.photo {
  z-index: 2;
}

.secondary-nav {
  display: flex;
  padding-top: 11px;
  color: #fff;
  font-weight: bold;
}

.search-input {
  height: 37px;
  max-width: 253px;
  width: 100%;
  font-size: 14px;
  padding: 0 0 2px 15px;
}

.search {
  height: 39px;
  width: 180px;
  margin: 0 25px;
  font-weight: bold;
}

.search p {
  margin: 0;
}

.search-input, .search, .contact-me {
  outline: none;
  border: none;
}

.search, .contact-me {
  background-color: #237377;
  border-radius: 2.5px;
  color: #fff;
  letter-spacing: .05em;
  font-size: 18px;
  font-weight: bold;
}

.search-icon {
  display: none;
}

.secondary-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  margin: 0;
}

.secondary-nav li {
  font-size: 16px;
  text-decoration: underline;
  padding-left: 10px;
}

/*BANNER*/
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 38px;
  margin: 18px 0;
  color: #323232;
}

.status {
  color: #aaa;
  font-weight: 400;
  font-size: 14px;
}

.contact-me {
  height: 40px;
  width: 230px;
  margin-top: 10px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 230px;
  height: 30px;
  margin-top: 26px;
}

.contact-details {
  width: 30%;
}

.contact-details li {
  margin-bottom: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.phone-icon {
  width: 24px;
}

.phone-no {
  margin-left: 20px;
  color: #565656;
}

.contact-details a {
  margin-left: 20px;
  color: #237377;
}

.hamburger-menu {
  display: none;
}

/*PROFILE*/
.profile-details {
  padding-bottom: 40px;
}

.profile-nav {
  margin-top: 40px;
}

.profile-nav ul {
  display: flex;
  padding: 0;
  padding-bottom: 15px;
  width: 100%;
}

.profile-nav li {
  color: #b7b7b7;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: 25%;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
}

.profile-nav li:hover {
  color: #237377;
  border-bottom: 2px solid #237377;
}

.select-menu {
  display: none;
}

/*CONTENT*/
.content-container {
  display: flex;
}

.content-container p {
  font-size: 14px;
  color: #595959;
}

.description {
  line-height: 1.8em;
  width: 75%;
  padding-right: 10%;
}

.extra-info {
  width: 25%;
}

.title-container {
  margin-bottom: 30px;
}

.title {
  font-size: 16px;
  color: #595959;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 25px 0;
  color: #fffefe;
}

footer p {
  font-size: 16px;
}

footer .phone {
  padding-right: 10px;
}

.phone-info {
  margin-bottom: 12px;
}

.contact-info {
  margin: 0;
}

.address {
  margin: 0;
}

.footer-extra {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

footer li {
  border-bottom: 1px solid #91ccd3;
}

footer li:hover {
  border-bottom: 1px solid #fff;
}

.rights {
  font-size: 12px;
  margin: 0 0 15px 0;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 40px;
}


/*MEDIA QUERIES*/
@media screen and (max-width: 1200px) {

  header {
    margin: 0 25px;
  }

  .secondary-nav, .banner, .profile-details, footer {
    margin: 0 65px;
  }

  .secondary-nav ul {
    padding-left: 15px;
  }

  .search-input {
    min-width: 213px;
    /*max-width: 275px;*/
  }
}

@media screen and (max-width: 992px) {

  .secondary-nav, .banner, .profile-details, footer {
    margin: 0 20px;
  }

  .company-logo {
    height: 75%;
  }

  .hamburger-menu {
    display: block;
  }

  .primary-nav {
    display: none;
  }

  .top-nav-ul {
    height: 50px;
    margin: 0;
    align-items: center;
    width: 170px;
  }

  .secondary-nav ul {
    padding-left: 0;
  }

  .search {
    margin: 0 15px;
  }

  .contact-details ul {
    padding-left: 0
  }

  .description {
    padding-right: 5%;
  }

  .profile-nav ul {
    margin-bottom: 5px;
  }

  .profile-details {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {

  .full-logo {
    display: none;
  }

  .small-logo {
    display: block;
  }

  .search-input {
    min-width: 170px;
    max-width: 195px;
  }

  .btn-text {
    display: none;
  }

  .search {
    margin: 0;
    width: 75px;
  }

  .search-icon {
    display: block;
    margin: auto;
  }

  .secondary-nav ul {
    display: none;
  }

  .banner {
    flex-direction: column;
    align-items: flex-start;
    height: 100%
  }

  .profile-nav ul {
    display: none
  }

  .contact-details {
    width: 100%;
    margin: 10px 0;
  }

  .contact-details ul {
    padding-left: 0;
  }

  .contact-details {
    margin-left: 0;
  }

  .contact-me, .social-media {
    width: 285px;
  }

  .select-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 38px;
    border: 1.1px solid #aaa;
    padding: 0 12px;
  }

  .select-menu p {
    color: #237377;
    font-weight: bold
  }

  .content-container {
    flex-direction: column;
  }

  .description {
    width: 100%;
  }

  .basic-info, .extra-info {
    width: 100%;
  }

  .basic-info {
    margin-top: 10px;
  }

  .name {
    margin: 0;
  }

  .status {
    margin: 5px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .contact-info {
    text-align: center;
    width: 100%;
  }

  footer .social-media {
    margin: auto;
    margin-top: 26px;
    width: 290px;
  }

  .footer-extra {
    align-items: center;
    margin-top: 8px;
  }

  .footer-extra ul {
    padding-left: 0
  }
}
